###### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

###### R
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

###### MacOS
.DS_Store
.AppleDouble
.LSOverride

###### Windows
Thumbs.db
Thumbs.db:encryptable


###### seismic project specific files
#magma files
bin/magma 

#any RData or rda
*.RData
*.rda
*.RDS
*.Robj

#data files
data/expr/*
data/gwas/*
data/ref/*


#raw files
raw/expr/*
raw/gwas/*

#magma gene analysis results
*.genes.out
*.genes.annot
*.genes.raw

#intermediate files
*.h5ad
*aux.txt
*fuma.txt
*magma.txt

#result files
*_res.txt
*_go.txt
*_dfbetas.txt

#other files
*.tsv 
sample_seed*
expr_ds*